name: MPI Advance Ctest

on:
  pull_request:
    branches: [master]

jobs:    
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mpi: [ 'mpich', 'intelmpi']
    name: ${{ matrix.mpi }} example
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup MPI
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: ${{ matrix.mpi }}

      - name: Install build tools
        timeout-minutes: 10
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential

      - name: Configure CMake
        timeout-minutes: 5
        run: |
          mkdir build
          cd build
          cmake -DTEST_PROCS=4 -DCMAKE_BUILD_TYPE=Release ..
          cd ..

      - name: Build project
        timeout-minutes: 5
        run: |
          cd build 
          make -j4
          cd ..

      - name: Run tests with CTest
        timeout-minutes: 5
        run: |
          cd build
          ctest --output-on-failure
